.settings {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings h1 {
  margin-bottom: 50px;
}

.settings label {
  margin-right: 0.5rem;
  margin-bottom: 10px;
  display: inline-block;
}

.settings select {
  display: block;
  padding: 5px;
}

.settings-option {
  display: flex;
  align-items: first baseline;
}