.nav {
  height: 100%;
  width: 300px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  z-index: 100;
  transform: translateX(100%);
  transition: all 0.4s ease;
}

.nav.show {
  transform: translateX(0%);
}

.nav-header {
  display: flex;
  justify-content: flex-end;
}

.nav-body {
  margin-top: 50px;
}

.nav-link {
  padding: 20px;
  height: 60px;
  text-decoration: none;
  border-radius: 10px;
  color: #787ea0;
  font-weight: 700;
  display: flex;
  align-items: center;
  column-gap: 20px;
  transition: all 0.4s ease;
}

.nav-link-icon {
  height: 20px;
  width: 20px;
  transition: all 0.4s ease;
  fill: #787ea0;
  display: flex;
}

.nav-link-icon svg {
  width: 100%;
}

.nav-link:hover {
  background-color: #ebf0fe;
  color: #4f6fdd;
}

.nav-link:hover .nav-link-icon {
  fill: #4f6fdd;
}

.close-button {
  background-color: #717bee;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.close-button svg {
  fill: #fff;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  pointer-events: none; /* El overlay no recibe eventos de clic */
}

.nav-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.nav-open .nav-overlay {
  pointer-events: auto; /* El overlay recibe eventos de clic cuando el menú está abierto */
}

.nav-open .nav-overlay::before {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}
