.login {
  max-width: 400px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 10 / 64%), 0 8px 16px rgb(0 10 0 / 34%);
  border-radius: 8px;
  padding: 1rem 2rem;
  align-items: center;
  text-align: center;
}

.login>form input {
  border-radius: 8px;
  border: 2px solid lightgrey;
  outline: none;
  color: #1d2129;
  margin: 2% 0;
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

h1 {
  margin-bottom: 1rem;
}

a {
  display: inline-block;
  margin-top: 1rem;
}

.input-box {
  position: relative;
}

.input-box button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;

}

.input-box button>svg {
  color: rgb(116, 122, 231);
}