.input-box {
    position: relative;
}

.input-box button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;

}

.input-box button>svg {
    color: rgb(116, 122, 231);
}