@keyframes openAnimation {
    0% { max-height: 0; }
    100% { max-height: 100vh; }
}

@keyframes closeAnimation {
    0% { max-height: 100vh; }
    100% { max-height: 0; }
}

.language-options {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.language-options.open {
    animation: openAnimation 0.3s forwards;
}

.language-options.close {
    animation: closeAnimation 0.3s forwards;
}