.register {
  max-width: 400px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem 2rem;
  align-items: center;
  text-align: center;
}

.register>form input {
  border-radius: 8px;
  border: 2px solid lightgrey;
  outline: none;
  color: #1d2129;
  margin: 2% 0;
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.indicator span {
  position: relative;
  height: 100%;
  width: 100%;
  background: lightgrey;
  border-radius: 15px;
}

/*
.indicator span:nth-child(2) {
  margin: 0 3px;
}

.indicator span.active:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.indicator span.weak:before {
  background-color: #ff4757;
}

.indicator span.medium:before {
  background-color: orange;
}

.indicator span.strong:before {
  background-color: #23ad5c;
} */