.button-common {
  background-color: rgb(116, 122, 231);
  color: white;
  padding: 15px 30px;
  border: none;
  font-size: 22px;
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
}

.form-error {
  color: red;
  text-align: left;
  margin: auto;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.response-error {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  border-radius: 8px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #121212;
  --black: #000;
}

body {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

main {
  padding: 8px;
  min-height: 100vh;
}

.light {
  background-color: #dbdefd;
  transition: all 0.4s ease;
}

.dark {
  background-color: var(--black);
  color: #fff;
  transition: all 0.4s ease;
}

.dark .header,
.dark .question,
.dark .answer-item,
.dark .nav {
  background-color: var(--dark-gray);
}

.dark .nav-link {
  color: #fff;
}

.dark .nav-link:hover {
  color: #4f6fdd;
}

.dark .nav-link-icon {
  fill: #fff;
}

.dark .answer-item:hover {
  background-color: var(--dark-gray);
  border-color: var(--dark-gray);
  color: #fff;
}

.dark .quiz-counter {
  background-color: var(--dark-gray);
  border: 2px solid #fff;
}

.dark .form-create {
  background-color: var(--dark-gray);
}

.dark .form-create input {
  background-color: var(--dark-gray);
}
