.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 2rem;
}

.App-link {
    color: #61dafb;
    margin-bottom: 2rem;
    text-decoration: none;
    font-size: 1.2rem;

}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.homeDiv {
    display: grid;
    grid-template-rows: auto auto;
    gap: 3rem;
    justify-items: center;
    align-items: start;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.App-logo {
    overflow: hidden;
    grid-row: 1;
    height: 10rem;
    width: auto;
    margin: 5em;
}

.welcome-message {
    grid-row: 2;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    overflow-wrap: anywhere;
}

.username {
    color: #61dafb;
}

.swipe {
    position: relative;
    background-color: #F1F7F7;
    width: 200px;
    height: 60px;
    color: black;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 2px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.35);
    border-left: 0.5px solid rgba(0, 0, 0, 0.35);
    padding-left: 40px;
    cursor: pointer;
    transition: 0.35s ease;
}

.swipe:hover {
    padding-left: 0;
    padding-right: 40px;
    color: #324B4C;
}


.startBtn {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background: #717bee;
    border-radius: 50%;
    transition: 0.35s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f4f7;
}

.swipe:hover .startBtn {
    left: calc(100% - 55px);
}

.btn:-webkit-any-link {
    text-decoration: none !important;
}

.swipe {
    color: #747ae7;
    font-weight: bold;
}
  
.swipe:hover {
    color: red;
    font-weight: bold;
}