.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 2rem;
}

.App-link {
    color: #61dafb;
    margin-bottom: 2rem;
    text-decoration: none;
    font-size: 1.2rem;

}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.homeDiv {
    display: grid;
    grid-template-rows: auto auto;
    gap: 3rem;
    justify-items: center;
    align-items: start;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.App-logo {
    overflow: hidden;
    grid-row: 1;
    height: 10rem;
    width: auto;
    margin: 5em;
}

.welcome-message {
    grid-row: 2;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.username {
    color: #61dafb;
}