.quiz-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-wrapper > span {
  margin-top: 5rem;
}

.quiz-wrapper > .quiz-timer {
  margin-top: 1rem;
}
