.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: #1e1c1c;
}

.animation {
    margin-top: 60px;
    max-width: 600px;
    margin-inline: auto;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}